:root {
    --red: #f47c7c;
    --yellow: #ffdd40;
    --green: #47cf73;
    --blue: #678efe;
    --yellow-border: #ffdd40;
    --blue-border: #275efe;
    --green-border: #248b44;
    --red-border: #f03a3a;
    --black: #030303;
    --black-dark: #00000040;
    --grey: #888888;
    --grey-light: #cbd1dc;
    --grey-light-300: #CDD9ED;
    --white: #ffffff;
}
