:root{
    --red: #F47C7C;
    --yellow: #f7f48b;
    --green: #A1DE93;
    --blue: #70A1D7;
    --yellow-border: #fcf65a;
    --blue-border: #297cd4;
    --green-border: #54d836;
    --red-border: #f03a3a;
    --black: #030303;
    --black-dark: #00000040;
    --grey: #888888;
    --grey-light: #F0F0F0;
    --white: #ffffff;
}