.btn-primary {
  background: var(--blue);
  border: 1px solid var(--blue);
  border-radius: .6rem;
  color: var(--white);
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    background: var(--blue-border);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  // Outline
  &.outline {
    background: var(--white);
    border: 1px solid var(--blue-border);
    color: var(--blue-border);
    &:hover {
      background: var(--blue-border);
      border: 1px solid var(--blue-border);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Outline
  &.dashed {
    background: var(--white);
    border: 1px dashed var(--blue-border);
    color: var(--blue-border);
    &:hover {
      background: var(--blue-border);
      border: 1px dashed var(--blue-border);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Block
  &.block {
    width: 100%;
  }
}

.btn-success {
  background: var(--green);
  border: 1px solid var(--green);
  border-radius: .6rem;
  color: var(--white);
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    background: var(--green-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  // Outline
  &.outline {
    background: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    &:hover {
      background: var(--green-border);
      border: 1px solid var(--green-border);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Dashed
  &.dashed {
    background: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    &:hover {
      background: var(--green-border);
      border: 1px solid var(--green-border);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Block
  &.block {
    width: 100%;
  }
}

.btn-warning {
  background: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: .6rem;
  color: var(--black);
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    background: var(--yellow-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  // Outline
  &.outline {
    background: var(--white);
    border: 1px solid var(--yellow);
    color: var(--yellow-border);
    &:hover {
      background: var(--yellow);
      border: 1px solid var(--yellow);
      color: var(--black);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Dashed
  &.dashed {
    background: var(--white);
    border: 1px dashed var(--yellow);
    color: var(--yellow-border);
    &:hover {
      background: var(--yellow);
      border: 1px dashed var(--yellow);
      color: var(--black);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Block
  &.block {
    width: 100%;
  }
}

.btn-danger {
  background: var(--red);
  border: 1px solid var(--white);
  border-radius: .6rem;
  color: var(--white);
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    background: var(--red-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  // Outline
  &.outline {
    background: var(--white);
    border: 1px solid var(--red);
    color: var(--red-border);
    &:hover {
      background: var(--red);
      border: 1px solid var(--red);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Dashed
  &.dashed {
    background: var(--white);
    border: 1px dashed var(--red);
    color: var(--red-border);
    &:hover {
      background: var(--red);
      border: 1px dashed var(--red);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Block
  &.block {
    width: 100%;
  }
}

.btn-default {
  background: var(--black);
  color: var(--white);
  font-weight: 500;
  border: 1px solid var(--black);
  border-radius: .6rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    background: var(--black-dark);
    color: var(--black);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  // Outline
  &.outline {
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    &:hover {
      background: var(--black);
      border: 1px solid (--black);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Dashed
  &.dashed {
    background: var(--white);
    border: 1px dashed var(--black);
    color: var(--black);
    &:hover {
      background: var(--black);
      border: 1px dashed (--black);
      color: var(--white);
      transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    }
  }
  // Block
  &.block {
    width: 100%;
  }
}

.btn-text {
  background: transparent;
  color: var(--black);
  font-weight: 500;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  // Block
  &.block {
    width: 100%;
  }
}

.btn-link {
  background: transparent;
  color: var(--blue-border);
  font-weight: 500;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  &:hover {
    color: var(--blue);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  // Block
  &.block {
    width: 100%;
  }
}

// Disabled
.btn-primary[disabled],
.btn-success[disabled],
.btn-danger[disabled],
.btn-default[disabled] {
  background: var(--grey-light);
  border: 1px solid var(--grey);
  color: var(--black-dark);
  cursor: not-allowed;
}

.btn-text[disabled],
.btn-link[disabled] {
  color: var(--black-dark);
  cursor: not-allowed;
}
// Close
.close {
  width: 1.5em;
  height: 1.5em;
  border: 0;
  cursor: pointer;
  background: transparent url("/public/assets/icon/close.svg") center/1em auto no-repeat;
}
// Loading
.loading {
  width: 1.5em;
  height: 1.5em;
  padding: 0 0.8rem;
  border: 0;
  cursor: pointer;
  svg {
    animation: loadingCircle 1s infinite linear;
    -webkit-animation: loadingCircle 1s infinite linear;
    @keyframes loadingCircle {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    // Webkit
    @-webkit-keyframes loadingCircle {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}

// Size
.button-size-large {
  padding: 1.5rem 2.5rem;
}
.button-size-default {
  padding: 1rem 2rem;
}
.button-size-small {
  padding: 0.5rem;
}

// Group
.button-group {
  display: flex;
  flex-direction: row;
}
